{% extends "base.html.twig" %}

{% block title %}Sign up{% endblock %}

{% block body %}
    {% for ticket in tickets %}
        <li><a href="{{ path('ticket_page', {'ticketId': ticket.id.__toString}) }}">{{ ticket.eventName }}</a></li>
    {% endfor %}
{% endblock %}
